/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* common style */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #f3f1ff;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;
    margin-top: 21px;
    border-radius: 5px;
}
/* header start */
.header{
    background-color: #562EFF;

    
}
.menu{
    list-style: none;
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    width: 1440px;
    margin: auto;
    justify-content: space-around;
}
.first-1{
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    
}
.first-1 a{
    padding-right: 16px;
    
}
.first-2 a{
    padding-right: 36px;
}
.first-2{
    display: flex;
    
    align-items: center;
    
   
}
.first-1 img{
    width: 50px;
    height: 50px;
}
.menu a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    
}
nav img{

}
/* top players start */
.top-players{
    margin-bottom: 26px;
}
.section-title{
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.player img{
    height: 56px;
    width: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}
.player{
    display: flex;
    align-items: center;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 25px;
}
/*------ top blog style ------*/
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.blog{
    display: flex;
}
.blog .thumbnail img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
    margin-bottom: 6px;
    margin-top: 0;

}
.blog-author{
    color: #9F9F9F;
    font-size: 16px;
    margin-top: 0;
}
.blog-author a{
    text-decoration: none;
    color: #562EFF;
    font-size: 16px;
}
/* ----------------
Courses style start 
-------------------*/
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    
}
.course{
    filter: drop-shadow(0 6px 13px rgba(0, 0, 0, 0.05));
    padding: 16px;
}
.course-banner img{
    width: 224px;
    height: 104px;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
    padding-right: 5px;
    opacity: 0.25;
}
.fa-clock{
    margin-left: 3px;
    padding-right: 5px;
}
span{
    margin-right: 30px;
}
.course-duration{
    background-color: #FFE4E8;
    border-radius: 15px;
}


/*--------------
  Media Queries
---------------- */

/* Mobile-Devices */
@media Only screen and (max-width:688px) {
    .players{
        background-color: red;
    }
}